*{
    margin: 0;
    padding: 0;
    font-family: "pressStart";
    box-sizing: border-box;
    font-size: 14px;
}
@font-face {
    font-family: "pressStart";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/font/PrStart.ttf");
}
body{
    background-color: #CADC9F;
}
fieldset {
    width: 600px;
    height: 350px;
    border: 5px solid #306230;
}
fieldset label{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
fieldset label input{
    margin-top: 3px;
    border: 3px solid #306230;
    background-color: #CADC9F;
}
fieldset label input:valid{
    background-color: #CADC9F;
}
fieldset label input:invalid{
    background-color: #aaaaaa;
}
form{
    width: 600px;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
button{
    border: 3px solid #306230;
    background-color: #0f380f;
    color: #9bbc0f;
    padding: 20px;
}
a {
    margin-top: 5px;
    color: #0f380f;
}
a:visited {
    margin-top: 5px;
    color: #306230;
}
p{
    margin-top: 20px;
    text-align: justify;
}
/*
 ----------------------
*/
#contenedor{
    display: flex;
    flex-flow: row nowrap;
}
#opcionesDeJuego {
    display: flex;
    flex-flow: column nowrap;
    border: 5px solid #306230;
    background-color: #CADC9F;
    width: 40vw;
    height: 93vh;
}
h1{
    align-self: center;
    text-align: center;
    font-size: 30px;
}
#opcionesDeJuego select{
    width: 24%;
    float:right;
    margin-right: 8.1%;
    border: 3px solid #306230;
    background-color: #CADC9F;
}
#opcionesDeJuego input{
    width: 24%;
    float:right;
    margin-right: 8%;
    border: 3px solid #306230;
    background-color: #CADC9F;
}
#opcionesDeJuego>label{
    width: 100%;
    margin-left: 2%;
    font-weight: bolder;
    margin-top: 1%;
}
#opcionesDeJuego>button{
    width: 30%;
    align-self:center; 
}

#recordsDeCuentas{
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid #306230;
    background-color: #CADC9F;
    width: calc(100%/3);
}
#recordsDeCuentas .tituloRecord{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#recordsDeCuentas .tituloRecord div{
    width: calc(100%/4);
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}
#recordsDeCuentas .record{
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 1%;
}
#recordsDeCuentas .record div{
    width: calc(100%/4);
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}
#instrucciones{
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid #306230;
    background-color: #CADC9F;
    width: calc(100%/3);
    padding: 1%;
}
#botonSalir{
    width: 100vw;
}
#setupsDificultad{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#setupsDificultad button{
    padding: 5px;
}
#opcionesDeJuego input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #CADC9F;
    border: 2px solid #0f380f;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
#opcionesDeJuego input[type=checkbox]:checked{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #306230;
    border: 2px solid #0f380f;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
/*
*   Opciones y Récords
*/

@media screen and (max-width: 1200px){
    fieldset {
        width: 100vw;
        height: 100vh;
    }
    fieldset label{
        margin-top: 10px;
    }
    form{
        width: 100vw;
        height: 100vh;
    }
    #contenedor{
        display: flex;
        flex-flow: column nowrap;
    }
    #opcionesDeJuego {
        width: 100%;
        height: auto;
    }
    #opcionesDeJuego h1{
        font-size: 26px;
    }
    #recordsDeCuentas{
        width: 100%;
        height: auto;
    }
    #instrucciones{
        width: 100%;
        height: auto;
    }
}